{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
<!-- Название у нас будет Product -->
{% block title %}
<h3>News</h3>
{% endblock title %}

{% block content %}
{% if news %}
Общее количество статей: {{ news|length }}
<table>
    <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Статья</td>
    </tr>

    {% for new in news %}
    <tr>
        <td>{{ new.title }}</td>
        <td>{{ new.timestamp |date:'M d Y' }}</td>
        <td>{{ new.content| badwords }} </td>
        {% endfor %}
    </tr>
</table>
{% endif %}
<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}