{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block content %}

    <form action="" method="get" style="color: black;">

        {{ filter_set.form.as_p }}

        <input type="submit" value="Найти" />
    </form>

    {% if request.GET %}
        <h3 style="color: black;">Results:</h3>
        <table style="color: black;">
            <tr>
                <th>Заголовок</th>
                <th>Дата публикации</th>
                <th>Статья</th>
            </tr>
            {% for news_detail in news_search %}
            <tr>
                <td>{{ news_detail.title }}</td>
                <td>{{ news_detail.timestamp|date:'M d Y' }}</td>
                <td>{{ news_detail.content|badwords }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No results found</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

